body{
    background-color: rgb(54, 121, 180);
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
    padding-top: 5%;
    font-family: Khula, sans-serif;
    font-weight: 500px;
    color: aliceblue;
}

